<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <button onclick="window.location.href='<%= baseurl + '/' %>'">Go to Home Page</button>
    <button onclick="window.location.href='<%= baseurl + '/login' %>'">Go to Login Page</button>
    <button onclick="window.location.href='<%= baseurl + '/register' %>'">Go to Register Page</button>
    <h1>This is Product page</h1>
</body>
</html>